<div id="<%= dom_id auto %>">
  <p>
    <strong>Brand:</strong>
    <%= auto.brand %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= auto.origin %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= auto.name %>
  </p>

  <p>
    <strong>Fuel:</strong>
    <%= auto.fuel %>
  </p>

  <p>
    <strong>Whels count:</strong>
    <%= auto.whels_count %>
  </p>

</div>
